html{
    background-color: lightgrey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    font-size: 50px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}
li a:hover {
    background-color: #111;
} 
.add{
    color: white;
    font-size: 75px;
    width: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: #333;
}
.addtxt , .addtxt1, .addtxt2 {
    font-size: 50px;
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    text-align: center;
    border: solid black;
    border-width: 5px;
}
.submit{
    font-size: 30px;
}
#PLUS{
    text-decoration: none;
    border: solid black;
    background-color: white;
    padding: 9px;
}
table, th, td {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 15px;
} 
table{
    background-color: black;
    color: white;
}
td{
    background-color: white;
    color: black;
}